body {
    margin: 0px 75px;
    background-color: rgb(3, 0, 190);
    display: grid;
    justify-items: center;
}

.green {
    background-color: green;
    height: 100px;
}


.common-text-style {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    text-align: justify;
    text-transform: uppercase;
}

.mini-header {
    color: red;
    font-size: 17px;
    background-color: black;
    width: fit-content;
    height: fit-content;
}

h1 {
    margin: 0px 40px;
    color:azure; 
    font-size: 18px;
    line-height: 30px;
}


#canvas {
    width: 1000px;
    background-color: rgb(0, 0, 134);
}

#line {
    height: 40px;
    background-color: blue;
    background-image: url(svg-symbols/plus.svg);
    background-repeat: repeat-x;
}

.grid-2 {
    border: solid;

    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 0px;
    background-color: rgb(0, 0, 134);
}

.bodypart {
    background: rgb(0, 0, 134);
}

.leftpart {
    background-color: rgb(7, 146, 146);
    margin: 5px 5px;
    padding: 0px 0px;
}

.img-container {
    background: rgb(33, 187, 74);
    padding: 10px;

    width: fit-content;
    height: fit-content;

    display: flex;
    align-items: center;
    justify-content: center;
}

.img-container > img {
    width: 400px;
} 

#picText{
    color: red;
    width: 200px;
    height: 21px;
}

.slash{
    background-color: black;
    width: 160px;
    height: 21px;
    color: rgb(249, 174, 95);
}



.rightpart {
    background-color: rgb(23, 142, 142);
    margin: 5px 5px;
}

#date {
    background-color: antiquewhite;
    height: 30px;
}
#insideCal {
    background-color: rgb(0, 0, 132);
    height: 100px;
    border:solid;
}

#calendar1{
    background-color: black;
    width: 120px;
    height: 21px;
    color: red;
}

#search {
    background-color: black;
    width: 70px;
    height: 24px;
    color: red;
    margin: 0px 50px;
}

.grid31 {
    display: grid;
    grid-template-columns: 33% 34% 33%;
    background-color: rgb(0, 0, 134);
    border: solid;
    height: 30px;
}

#explanation  {
    background-color: rgb(0, 0, 132);
    height: 345px;
    color: white;
    font-size: 16px;
    line-height: 30px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 14px; 
    background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar-button{
background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb{
    background-color: rgb(220, 20, 20);
}


input {
    color-scheme: dark;
}


.grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 30px;
    border: solid;
}


#choose-date {
    background-color: rgb(0, 0, 134);
    margin: 20px 0px;
    height: 21px;
}
