body {
    margin: 0px 75px;
    background-color: rgb(3, 0, 190);
    display: grid;
    justify-items: center;
}

.common-text-style {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    text-align: justify;
    text-transform: uppercase;
}

.mini-header {
    color: red;
    font-size: 22px;
    background-color: black;
    width: fit-content;
    height: fit-content;
}

h1 {
    margin: 15px 40px;
    color:rgb(255, 255, 255); 
    font-size: 18px;
    line-height: 30px;
}

#restriction{
    color: red;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 18px;
    background-color: black;
}


#canvas {
    width: 1100px;
    background-color: #0a007d;
}

#line {
    height: 30px;
    margin-top:  5px;
    margin-bottom: 40px;
    background-color: #0a007d;
    background-image: url(svg-symbols/plus.svg);
    background-repeat: repeat-x;
}

.grid-2 {
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    margin: 20px 0px;
    background-color: #0a007d;
}

.bodypart {
    background: #0a007d;
}

.leftpart {
    background-color: #0a007d;
    margin: 5px 5px;
    padding: 0px 0px;    
}

.img-container {
    background: rgb(0, 0, 0);
    padding: 10px;
    margin-left: 40px;

    width: fit-content;
    height: fit-content;

    display: flex;
    align-items: center;
    justify-content: center;
    
}

.img-container > img {
    width: 450px;
    
} 

#picText{
    margin-left: 40px;
}

.slash{
    background-color: black;
    width: 160px;
    height: 22px;
    color: rgb(249, 174, 95);
}

.rightpart {
    background-color: #0a007d;
    margin: 5px 5px;
}

#date {
    background-color: antiquewhite;
    height: 30px;
}
#insideCal {
    background-color: #0a007d;
    height: 70px;
    margin-right: 40px;
    margin-bottom: 20px;
    
}

#calendar1{
    background-color: black;
    width: 220px;
    height: 40px;
    color: rgb(255, 255, 255);
    font-size: 24px;
}

#search {
    background-color: black;
    width: 170px;
    height: 40px;
    color: red;
    margin-left: 73px;
    font-size: 26px;
    
}

.grid31 {
    display: grid;
    grid-template-columns: 33% 34% 33%;
    background-color:#0a007d;
    height: 22px;
    margin-top: 60px;
}

#explanation  {
    background-color: rgb(0, 0, 0);
    margin-right: 40px;
    margin-top: 20px;
    height: 345px;
    color: white;
    font-size: 16px;
    line-height: 30px;
    overflow-y: scroll;

}

::-webkit-scrollbar {
    width: 14px; 
    background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar-button{
background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb{
    background-color: rgb(220, 20, 20);
}

input {
    color-scheme: dark;
}

.grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 30px;
}

#choose-date {
    background-color: #0a007d;
    margin: 20px 0px;
    height: 22px;
}

#line2 {
    height: 30px;
    margin-top:  40px;
    margin-bottom: 0px;
    background-color: #0a007d;
    background-image: url(svg-symbols/plus.svg);
    background-repeat: repeat-x;
    
}
 
.signature{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    text-align: justify;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    margin: 0px;
    line-height: 1.2;
}

.glitch{

    display: grid;
    
    margin: 20px 0px;
    background-color: #000000;
    margin: 40px 40px;
    height: 40px;
}

.gliText{
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    font-weight: bold;
    text-align: justify;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.2;
    color:#ff6b00;
   
}
