.custom-calendar {
    width: fit-content;
    height: fit-content;
    
    background-color: gray;
    border: solid black;

    display: inline-grid;
    justify-items: stretch;
    
    padding: 2px;
    row-gap: 2px;
}

.calendar-header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    
    border: solid black;
    background-color: violet;
    
    padding: 2px;
}

.calendar-header-arrows {
    text-align: right;
}

.calendar-header-date-info {
    text-align: left;
}

.calendar-arrow {
    border: 1px solid black;
    margin: 0px 2px;
}

.calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: stretch;
    justify-items: stretch;

    column-gap: 2px;
    row-gap: 2px;
    padding: 2px;
    
    width: fit-content;
    height: fit-content;
    
    background-color: indianred;
    border: solid black;
}

.calendar-item {
    text-align: center;
    border: 1px solid black;
    padding: 2px;
    font-size: 20px;
}

.not-selected-calendar-item {
    background-color: darkred;
}

.not-selected-calendar-item:hover {
    background-color: crimson;
}

.not-selected-other-calendar-item {
    background-color: palevioletred;
}

.not-selected-other-calendar-item:hover {
    background-color: pink;
}