.custom-calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: stretch;
    justify-items: stretch;

    column-gap: 2px;
    row-gap: 2px;
    padding: 2px;
    
    width: fit-content;
    height: fit-content;
    
    background-color: brown;
    border: solid black;
}

.calendar-item {
    text-align: center;
    border: 1px solid black;
    padding: 2px;
    font-size: 20px;
}

.not-selected-calendar-item {
    background-color: crimson;
}

.not-selected-calendar-item:hover {
    background-color: darkred;
}

.not-selected-other-calendar-item {
    background-color: palevioletred;
}

.not-selected-other-calendar-item:hover {
    background-color: pink;
}